1/01-Szamok.mp4
1/01-Szoveg.mp4
1/01-Valtozok.mp4
1/01-Vezerles.mp4
10/05-OsztalyObjektum.mp4
11/06-Kivetelkezeles.mp4
12/06-Naplozas.mp4
2/01-Fuggveny.mp4
2/01-Konzol.mp4
2/01-Scope.mp4
3/02-BejarasKicsomagolas.mp4
4/02-ListaTuple.mp4
4/02-SetDictionary.mp4
5/03-ElsoOsztalyuFuggvenyek.mp4
6/03-Dekorator.mp4
7/03-Lambda.mp4
8/04-ModulCsomag.mp4
9/04-BeepitettModulok.mp4
contacts.txt
